@page "/superheroes"
@inject ISuperHeroService SuperHeroService
@inject NavigationManager navigationManager
<h3>SuperHeroes</h3>


<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Hero Name</th>
            <th>Comic</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var hero in SuperHeroService.Heroes)
        {
            <tr>
                <td>@hero.FirstName</td>
                <td>@hero.LastName</td>
                <td>@hero.HeroName</td>
                <td></td>
                <td>
                    <button class="btn btn-primary"
                        @onclick="(() => ShowHero(hero.Id))"
                    >
                        <i class="oi oi-pencil"></i>
                    </button>
                    <button class="btn btn-primary"
                        @onclick="(() => DeleteHero(hero.Id))">
                        <i class="oi oi-trash"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary" @onclick="CreateNewHero">Create Hero</button>

@code {
    protected override async Task OnInitializedAsync()
    {
        await SuperHeroService.GetSuperHeroes();
    }

    void ShowHero(int id)
    {
        navigationManager.NavigateTo($"hero/{id}");
    }
    async Task DeleteHero(int id)
    {
        await SuperHeroService.DeleteHero(id);
    }

    void CreateNewHero()
    {
        navigationManager.NavigateTo("/hero");
    }
}
